header {
    height: 200px;
    background-color: whitesmoke;
    text-align: center;
}

.h1 {
    text-align: center;
}

.logo {
    background-color: whitesmoke;
}

nav {
    height: auto;
    background-color: whitesmoke;
}

.card {
    height: 100%;
}

img {
    max-height: 200px;
    width: auto;
}

footer {
    height: 100px;
    background-color: whitesmoke;
}