header {
    height: 200px;
    background-color: whitesmoke;
    text-align: center;
}

.h1 {
    text-align: center;
}

.logo {
    background-color: whitesmoke;
}

nav {
    height: auto;
    background-color: whitesmoke;
}

aside {
    height: auto;
    background-color: lightslategray;
}

.article1, .article2, .article3 {
    height: 200px;
    background-color: deeppink;
}
.article4 {
    height: 400px;
    background-color: greenyellow ;
}

footer {
    height: 100px;
    background-color: whitesmoke;
}